:root{
    --mainColor: #012E40;
    --secondColor: #3CA6A6;
    --tirdColor: #9EF8EE;
    --redOne: #FA7F08;
    --redTwo: #F24405;
    --textOne: #f5f1f1;
    --textTwo: rgba(24, 23, 23, 0.918);
}


.main-container{
    min-height: 100vh;
    width: 100%;
    background-color: var(--mainColor);
}

.main-body{
    background-color: var(--secondColor);
    height: 90%;
    
}

.btn-main{
    width: 100px;
    margin-right: 10px;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    background-color: var(--secondColor);
    color: var(--textOne);
    transition: 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.btn-main:hover{
    background-color: var(--tirdColor);
    color: var(--textTwo);
}

.main-text{
    color: var(--tirdColor);
    font-weight: 700;
}

.normal-text{
    color: var(--textOne);
}

.form-label{
    color: var(--textOne);
}

#login{
    background-color: var(--mainColor);
}

.validate{
    color: red;
}


.bg-navbar
{
    background-color: var(--mainColor);
}

#nav-item{
    color: var(--textOne);
}